<div style="border-bottom: 1px solid black;" class="ml-3">
    <h1>User Settings:</h1>
</div>

<div class="ml-3 mt-3">
    <h2>Payment Options and Address</h2>
    <button style="border: 2px solid rgb(60, 0, 255);color: rgb(0, 4, 255); background-color: white;" class="ml-3 mt-3 btn btn-lg">Card
        details</button>
    <button style="border: 2px solid rgb(60, 0, 255);color: rgb(0, 4, 255); background-color: white;" class="ml-5 mt-3 btn btn-lg" routerLink="/settings/address">Address
        list</button>
</div>